{% extends "base.html.twig" %}

{% block title %} Brand List {% endblock %}

{% block body %}
<style>
    body {
        width: 80%;
        margin: 20px auto;
    }
</style>
 
<div class="container-fluid">
    <div class="container">
        {% for flash in app.flashes("Info") %}
            <p class="alert alert-success"> {{ flash }}
        {% endfor %}
        {% for flash in app.flashes("Error") %}
            <p class="alert alert-danger"> {{ flash }}
        {% endfor %}
    </div>
    <a class="btn btn-outline-success" href="{{ path ('brand_create') }}">CREATE NEW GENRE</a>
    <br><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Actions</th> 
            </tr>
        </thead>
        <tbody>
        {% for brand in brands %}
            <tr>
                <td scope="row"> {{ brand.name }} </td>
                <td>
                    <a class="btn btn-warning" href="{{ path ('brand_detail', {'id' : brand.id} )}}">Detail</a>   
                    <a class="btn btn-warning" href="{{ path ('brand_update', {'id' : brand.id} )}}">Update</a>
                       <a class="btn btn-danger" href="{{ path ('brand_delete', {'id' : brand.id} )}}"  
                                              onclick = "return confirm ('Are you sure to delete ?')" >      
                    Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
